#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define DEF 0
#define WOW 1
#define FPS 2
#define LWR 3
#define RSE 4

/ {
};

/ {
    behaviors {
        hrm: hr {
            compatible = "zmk,behavior-hold-tap";
            label = "hrm";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            quick-tap-ms = <150>;
        };

        boot_esc: boot_esc {
            compatible = "zmk,behavior-hold-tap";
            label = "boot_esc";
            /* hold: bootloader, tap: key */
            bindings = <&bootloader>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <3000>;
            flavor = "tap-preferred";
            quick-tap-ms = <150>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
            // -----------------------------------------------------------------------------------------------------------------
            // |  ESC  |  Q   |  W   |  E   |  R   |  T   |-----------|-----------|   Y   |  U   |  I   |  O   |   P   |  LALT |
            // |  TAB  |  A   |  S   |  D   |  F   |  G   |-----------|-----------|   H   |  J   |  K   |  L   |   ;   |  LBKT |
            // | LGUI  |  Z   |  X   |  C   |  V   |  B   |-----------|-----------|   N   |  M   |  ,   |  .   |   /   |  SQT  |
            // -----------------------------|LCTRL | RSE  |  SPACE    | ENT/SHIFT | LWR   | BACKSPACE |-------------------------
        default_layer {
            bindings = <
            &kp ESC  &kp Q  &kp W    &kp E    &kp R      &kp T                               &kp Y      &kp U         &kp I     &kp O     &kp P     &kp LALT
            &kp TAB  &kp A  &kp S    &kp D    &kp F      &kp G                               &kp H      &kp J         &kp K     &kp L     &kp SEMI  &kp LBKT
            &kp LGUI &kp Z  &kp X    &kp C    &kp V      &kp B                               &kp N      &kp M         &kp COMMA &kp DOT   &kp FSLH  &kp SQT
                                              &kp LCTRL  &mo RSE   &kp SPACE &mt RSHFT ENTER &mo LWR    &kp BACKSPACE
            >;
        };
        wow {
            // ---------------------------------------------------------------------------------------------------------------
            // |  ESC  |  Q   |  W   |  E   |  R   |  T     |-------|-------|   Y   |  U    |  I   |  O   |   P   |  LBKT    |
            // | TAB   |  A   |  S   |  D   |  F   |  G     |-------|-------|   H   |  J    |  K   |  L   |   ;   |  SQT     |
            // | LSHFT |  Z   |  X   |  C   |  V   |  B     |-------|-------|   N   |  M    |  ,   |  .   |   /   | ENT/SHIFT|
            // -----------------------------|  N9  |  N7    | SPACE | ENTER | LOWER | BACKSPACE|-----------------------------
            bindings = <
                &kp ESC    &kp Q  &kp W    &kp E    &kp R      &kp T                               &kp Y      &kp U          &kp I     &kp O     &kp P     &kp LBKT
                &kp TAB    &kp A  &kp S    &kp D    &kp F      &kp G                               &kp H      &kp J          &kp K     &kp L     &kp SEMI  &kp SQT
                &kp LSHFT  &kp Z  &kp X    &kp C    &kp V      &kp B                               &kp N      &kp M          &kp COMMA &kp DOT   &kp FSLH  &mt RSHFT ENTER
                                                    &kp N9     &kp N7 &kp SPACE    &mt RSHFT ENTER &mo LOWER  &kp BACKSPACE
            >;
        };        
        
        fps {
            // ---------------------------------------------------------------------------------------------------------------
            // |  ESC  |  Q   |  W   |  E   |  R   |  T     |-------|-------|   Y   |  U    |  I   |  O   |   P   |  LBKT    |
            // | TAB   |  A   |  S   |  D   |  F   |  G     |-------|-------|   H   |  J    |  K   |  L   |   ;   |  SQT     |
            // | LSHFT |  Z   |  X   |  C   |  V   |  B     |-------|-------|   N   |  M    |  ,   |  .   |   /   | ENT/SHIFT|
            // -----------------------------|  M   |  LCTRL | SPACE | ENTER | LOWER |  F1   |---------------------------------
            bindings = <
                &kp ESC   &kp Q  &kp W    &kp E    &kp R      &kp T                           &kp Y      &kp U          &kp I     &kp O     &kp P     &kp LBKT
                &kp TAB   &kp A  &kp S    &kp D    &kp F      &kp G                           &kp H      &kp J          &kp K     &kp L     &kp SEMI  &kp SQT
                &kp LSHFT &kp Z  &kp X    &kp C    &kp V      &kp B                           &kp N      &kp M          &kp COMMA &kp DOT   &kp FSLH  &mt RSHFT ENTER
                                                   &kp M      &mo LCTRL &kp SPACE &kp ENTER   &mo LOWER  &kp F1
            >;
        }; 

        // ---------------------------------------------------------------------------------------------------------------------------------------
        // | OUT_TG  |   BT0   |   BT1   |   BT2   |  BT3    | BT_CLR    |-----------|-----------| PG_UP |LGUI(TAB)|  UP  |       |      |      |
        // | RGB HUI | RGB SPD | RGB SPI | RGB EFR | RGB EFF | CAPSLOCK  |-----------|-----------| PG_DN |  LEFT   | DOWN | RIGHT |      |      |
        // | RGB TG  | RGB BRD | RGB BRI | RGB SAD | RGB SAI | RGB HUD   |-----------|-----------|       |  HOME   |      |  END  |      |      |
        // ----------------------------------------|         |LGUI(SPACE)|           |           |       | DELETE  |-----------------------------
        lower_layer {
            bindings = <
            &out OUT_TOG     &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_CLR                      &kp PAGE_UP     &kp LG(TAB) &kp UP    &trans     &trans     &trans     
            &rgb_ug RGB_HUI  &rgb_ug RGB_SPD  &rgb_ug RGB_SPI  &rgb_ug RGB_EFR  &rgb_ug RGB_EFF  &kp CAPSLOCK                    &kp PAGE_DOWN   &kp LEFT    &kp DOWN  &kp RIGHT  &trans     &trans
            &rgb_ug RGB_TOG  &rgb_ug RGB_BRD  &rgb_ug RGB_BRI  &rgb_ug RGB_SAD  &rgb_ug RGB_SAI  &rgb_ug RGB_HUD                 &trans          &kp HOME    &trans    &kp END    &trans     &trans
                                                                                &trans           &kp LG(SPACE)   &trans  &trans  &trans          &kp DELETE  
            >;
        };

        // --------------------------------------------------------------------------------------------------------------------------
        // |ESC/BT|  F1    |  F2    |  F3    |  F4    |  F5    |-------|-------|  F6    |  F7    |  F8    |  F9    |  F10   |       |
        // |  F12 |   N1   |   N2   |   N3   |   N4   |   N5   |-------|-------|   N6   |   N7   |   N8   |   N9   |   N0   |  F11  |
        // |      |   =    |  -/_   |   +    | LBRC   | RBRC   |-------|-------| LBKT   | RBKT   | VOL-   | VOL+   |   \    |  `    |
        // ----------------------------------|  LALT  |        |       |       |        |        |-----------------------------------
        raise_layer {
            bindings = <
            &boot_esc 0 ESC   &kp F1    &kp F2           &kp F3   &kp F4     &kp F5                  &kp F6     &kp F7    &kp F8       &kp F9         &kp F10       &trans
            &kp F12           &kp N1    &kp N2           &kp N3   &kp N4     &kp N5                  &kp N6     &kp N7    &kp N8       &kp N9         &kp N0        &kp F11
            &trans            &kp EQUAL &mt UNDER MINUS  &kp PLUS &kp LBRC   &kp RBRC                &kp LBKT   &kp RBKT  &kp C_VOL_DN &kp C_VOL_UP   &kp BACKSLASH &kp GRAVE 
                                                           &kp LALT   &trans  &trans   &trans &trans     &trans    
            >;
        };

        // -------------------------------------------------------------------------------------------------------------------------------------------
        // | STUDIO | RESET  | BOOT   | OUT_TOG | PWR_TOG | SOFTOFF |-----------|-----------| SOFTOFF | PWR_TOG | OUT_TOG | BOOT   | RESET  | STUDIO  |
        // |BT_CLR_A| BT_CLR | BT1    |  BT2    |         |         |-----------|-----------|         |         | BT2     | BT1    | BT0    | BT_CLR  |
        // | RGB TG | RGB BRD| RGB BRI| RGB SAD | RGB SAI | RGB HUD |-----------|-----------| RGB HUI | RGB SPD | RGB SPI | RGB EFR| RGB EFF| RGB TG  |
        // |        |        |        |         |         |         |           |           |         |         |         |        |        |         |
        // adjust_layer {
        //     bindings = <
        //     &studio_unlock   &sys_reset       &bootloader      &out OUT_TOG     &ext_power EP_TOG  &soft_off                        &soft_off        &ext_power EP_TOG  &out OUT_TOG     &bootloader      &sys_reset       &studio_unlock
        //     &bt BT_CLR_ALL   &bt BT_CLR       &bt BT_SEL 1     &bt BT_SEL 2     &none              &none                            &none            &none              &bt BT_SEL 2     &bt BT_SEL 1     &bt BT_SEL 0     &bt BT_CLR
        //     &rgb_ug RGB_TOG  &rgb_ug RGB_BRD  &rgb_ug RGB_BRI  &rgb_ug RGB_SAD  &rgb_ug RGB_SAI    &rgb_ug RGB_HUD                  &rgb_ug RGB_HUI  &rgb_ug RGB_SPD    &rgb_ug RGB_SPI  &rgb_ug RGB_EFR  &rgb_ug RGB_EFF  &rgb_ug RGB_TOG
        //                                                                         &trans             &none            &trans  &trans  &none            &trans
        //     >;
        // };
    };
};
