#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

/ {
};

/ {
    behaviors {
        hrm: hr {
            compatible = "zmk,behavior-hold-tap";
            label = "hrm";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            quick-tap-ms = <150>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // -------------------------------------------------------------------------------------------------------------------
        // |       |  Q   |  W   |  E   |  R   |  T   |-----------|-----------|   Y   |  U   |  I   |  O   |   P   |  ADJ  |
        // |SHF/ESC|  A   |  S   |  D   |  F   |  G   |-----------|-----------|   H   |  J   |  K   |  L   |   ;   |  [    |
        // |TAB/GUI|  Z   |  X   |  C   |  V   |  B   |-----------|-----------|   N   |  M   |  ,   |  .   |   /   |  '    |
        // |       |      |      |      |LCTRL |RAISE |  SPACE    | ENT/SHIFT | LOWER |BKSPC |      |      |       |       |
        default_layer {
            bindings = <
            &none          &kp Q  &kp W    &kp E    &kp R      &kp T                               &kp Y      &kp U         &kp I     &kp O     &kp P     &mo ADJ
            &mt LSHIFT ESC &kp A  &kp S    &kp D    &kp F      &kp G                               &kp H      &kp J         &kp K     &kp L     &kp SEMI  &kp LBKT
            &mt LGUI TAB   &kp Z  &kp X    &kp C    &kp V      &kp B                               &kp N      &kp M         &kp COMMA &kp DOT   &kp FSLH  &kp SQT
                                                    &kp LCTRL  &mo RSE   &kp SPACE &mt RSHFT ENTER &mo LWR    &kp BACKSPACE
            >;
        };

        // -----------------------------------------------------------------------------------------------------------------------
        // |OUT_TG| BT0  | BT1  | BT2  | BT3  | BT_CLR   |-----------|-----------|PG_UP  |LGUI(TAB)| UP   |       |      |      |
        // |      |      |      |      |      |CAPSLOCK  |-----------|-----------|PG_DN  | LEFT    | DOWN | RIGHT |      |      |
        // |      |      | CUT  | COPY |PASTE |          |-----------|-----------| HOME  |         | END  |       |      |      |
        // |      |      |      |      |      |          |           |           |       | LGUI(SP)|      |       |      | DEL  |
        lower_layer {
            bindings = <
            &out OUT_TOG &bt BT_SEL 0   &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_CLR                    &kp PAGE_UP     &kp LG(TAB) &kp UP    &trans     &trans     &trans
            &trans       &trans         &trans       &trans       &trans       &kp CAPSLOCK                  &kp PAGE_DOWN   &kp LEFT    &kp DOWN  &kp RIGHT  &trans     &trans
            &trans       &trans         &kp K_CUT    &kp K_COPY   &kp K_PASTE  &trans                        &trans          &kp HOME    &trans    &kp END    &trans     &trans
                                                                  &trans       &kp LG(SPACE) &trans  &trans  &trans          &kp DELETE  
            >;
        };

        // ---------------------------------------------------------------------------------------------------------------------------
        // |       |  F1    |  F2    |  F3    |  F4    |  F5    |-------|-------|  F6    |  F7    |  F8    |  F9    |  F10   |       |
        // |  F12  |   1    |   2    |   3    |   4    |   5    |-------|-------|   6    |   7    |   8    |   9    |   0    |  F11  |
        // |       |   =    |  -/_   |   +    |   {    |   }    |-------|-------|   [    |   ]    | VOL-   | VOL+   |   \    |  `    |
        // |       |        |        |        |  LALT  |        |       |       |        |        |        |        |        |       |
        raise_layer {
            bindings = <
            &trans     &kp F1    &kp F2           &kp F3   &kp F4     &kp F5                  &kp F6     &kp F7    &kp F8       &kp F9         &kp F10       &trans
            &kp F12    &kp N1    &kp N2           &kp N3   &kp N4     &kp N5                  &kp N6     &kp N7    &kp N8       &kp N9         &kp N0        &kp F11
            &trans     &kp EQUAL &mt UNDER MINUS  &kp PLUS &kp LBRC   &kp RBRC                &kp LBKT   &kp RBKT  &kp C_VOL_DN &kp C_VOL_UP   &kp BACKSLASH &kp GRAVE 
                                                           &kp LALT   &trans  &trans   &trans &trans     &trans    
            >;
        };

        // -------------------------------------------------------------------------------------------------------------------------------------------
        // | STUDIO | RESET  | BOOT   | OUT_TOG | PWR_TOG | SOFTOFF |-----------|-----------| SOFTOFF | PWR_TOG | OUT_TOG | BOOT   | RESET  | STUDIO  |
        // |BT_CLR_A| BT_CLR | BT1    |  BT2    |         |         |-----------|-----------|         |         | BT2     | BT1    | BT0    | BT_CLR  |
        // | RGB TG | RGB BRD| RGB BRI| RGB SAD | RGB SAI | RGB HUD |-----------|-----------| RGB HUI | RGB SPD | RGB SPI | RGB EFR| RGB EFF| RGB TG  |
        // |        |        |        |         |         |         |           |           |         |         |         |        |        |         |
        adjust_layer {
            bindings = <
            &studio_unlock   &sys_reset       &bootloader      &out OUT_TOG     &ext_power EP_TOG  &soft_off                        &soft_off        &ext_power EP_TOG  &out OUT_TOG     &bootloader      &sys_reset       &studio_unlock
            &bt BT_CLR_ALL   &bt BT_CLR       &bt BT_SEL 1     &bt BT_SEL 2     &none              &none                            &none            &none              &bt BT_SEL 2     &bt BT_SEL 1     &bt BT_SEL 0     &bt BT_CLR
            &rgb_ug RGB_TOG  &rgb_ug RGB_BRD  &rgb_ug RGB_BRI  &rgb_ug RGB_SAD  &rgb_ug RGB_SAI    &rgb_ug RGB_HUD                  &rgb_ug RGB_HUI  &rgb_ug RGB_SPD    &rgb_ug RGB_SPI  &rgb_ug RGB_EFR  &rgb_ug RGB_EFF  &rgb_ug RGB_TOG
                                                                                &trans             &none            &trans  &trans  &none            &trans
            >;
        };
    };
};
